
# Introduccion a Pandas y Numpy

In [2]:
import numpy as np
import pandas as pd

In [3]:

rododf = pd.DataFrame({
    'nombre': ['Rodo'],
    'apellidos': ['Bojorquez'],
    'edad': [25],
    'carrera': ['ITC'],
    'generomusical': ['Rock'],
    'cancionfavorita': ['Hold Me Like A Grudge'],
    'peliculafavorita': ['Superbad'],
    'comidafavorita': ['Pizza'],
    'cumpleanios': ['11 de noviembre'],
    'tienemascota': ['Sí'],
    'numerohermanos': [2],
    'altura': [174],
    'eresforaneo': ['Si'],
    'ciudadnatal': ['Hermosillo, Sonora'],
    'peliculafavoritastarwars': [10]
})

In [4]:
cristiandf = pd.DataFrame({
    'nombre': 'Cristian',
    'apellidos': 'Cazares Molina',
    'edad': 21,
    'carrera': "ITC",
    'generomusical': 'rock',
    'cancionfavorita': 'Teeth',
    'peliculafavorita': 'N/A',
    'comidafavorita': 'N/A',
    'cumpleanios': '29-04',
    'tienemascota': False,
    'numerohermanos': 1,
    'altura': 1.78,
    'eresforaneo': True,
    'ciudadnatal': "Culiacan",
    'peliculafavoritastarwars': 3
}, index=["cristiandf"])

dfsidd = pd.DataFrame({
    'nombre' : 'siddhartha',
    'apellidos' : 'lopez',
    'edad' : 21,
    'carrera' : 'ITC',
    'generomusical' : 'pop',
    'cancionfavorita' : 'annihilate',
    'peliculafavorita' : 'across the spiderverse',
    'comidafavorita' : 'ramen',
    'cumpleanios' : '08ene02',
    'tienemascota' : True,
    'numerohermanos' : 6,
    'altura' : 1.74,
    'eresforaneo' : True,
    'ciudadnatal' : 'obregon',
    'peliculafavoritastarwars' : 3
}, index=['sidd'])

ManuelOrozcodf = pd.DataFrame({
    "nombre" : "manuel",
    "apellidos" : "orozco yaniez",
    "edad" : 20,
    "carrera" : "iid",
    "generomusical" : "breakcore",
    "cancionfavorita" : "luna de diseño",
    "peliculafavorita" : "everything everywhere all at once",
    "comidafavorita" : "hamburguesa",
    "cumpleanios" : pd.Timestamp("20021223"),
    "tienemascota" : True,
    "numerohermanos" : 3,
    "altura" : 1.83,
    "eresforaneo" : True,
    "ciudadnatal" : "leon",
    "peliculafavoritastarwars" : np.nan
}, index=["manuelorozco"])

cerritenodf = pd.DataFrame({
    'nombre': 'fernando',
    'apellidos': 'cerriteno magana',
    'edad': 20,
    'carrera': 'irs',
    'generomusical': 'rock',
    'cancionfavorita': 'test & recognize',
    'peliculafavorita': 'na',
    'comidafavorita': 'enchiladas',
    'cumpleanios': pd.Timestamp('20010921'),
    'tienemascota': False,
    'numerohermanos': 1,
    'altura': 1.81,
    'eresforaneo': True,
    'ciudadnatal': 'celaya',
    'peliculafavoritastarwars': 3
}, index=['fernandocerriteno'])

FernandoOjeda = pd.DataFrame({
    'nombre': ['Fernando'],
    'apellidos': ['Ojeda'],
    'edad': [21],
    'carrera': ['iid'],
    'generomusical': ['nan'],
    'cancionfavorita': ['nan'],
    'peliculafavorita': ['nan'],
    'comidafavorita': ['pizza'],
    'cumpleanios': ['22/11'],
    'tienemascota': [True],
    'numerohermanos': [1],
    'altura': [1.7],
    'eresforaneo': [True],
    'ciudadnatal': ['La Paz'],
    'peliculafavoritastarwars': [3],
})


df_alfonso = pd.DataFrame({
    'nombre': 'alfonso',
    'apellidos': 'pineda',
    'edad': 21,
    'carrera': 'itc',
    'generomusical': 'pop',
    'cancionfavorita': 'r&b',
    'peliculafavorita': 'interestellar',
    'comidafavorita': 'comida italiana',
    'cumpleanios': pd.Timestamp('20020424'),
    'tienemascota': False,
    'numerohermanos': 1,
    'altura': 1.77,
    'eresforaneo': True,
    'ciudadnatal': 'cdmx',
    'peliculafavoritastarwars': 3,
}, index=['alfonso'])

vanedf = pd.DataFrame({
'nombre' : 'vanessa',
'apellidos' : 'mendez',
'edad' : 21,
'carrera' : 'itc',
'generomusical' : 'pop',
'cancionfavorita' : 'august',
'peliculafavorita' : 'montecarlo',
'comidafavorita' : 'hamburguesas',
'cumpleanios' : '12abril2002',
'tienemascota' : False,
'numerohermanos' : 1,
'altura' : 1.60,
'eresforaneo' : True,
'ciudadnatal' : 'veracruz',
'peliculafavoritastarwars' : np.nan,
}, index=['vanessa'])

mario_castaneda_df = pd.DataFrame({
'nombre' : 'mario',
'apellidos' : 'castaneda',
'edad' : [21],
'carrera' : "iid",
'generomusical' : 'edm',
'cancionfavorita' : 'touch',
'peliculafavorita' : 'buscando a nemo',
'comidafavorita' : 'carne asada',
'cumpleanios' : pd.Timestamp('20020201'),
'tienemascota' : False,
'numerohermanos' : [1],
'altura': 1.67,
'eresforaneo' : False,
'ciudadnatal' : 'torreon'
}, index=['mariocastaneda'])

pizarrodf = pd.DataFrame({
'nombre' : 'alejandro',
'apellidos' : 'pizarro chavez',
'edad' : 21,
'carrera' : 'ITC',
'generomusical' : 'indie',
'cancionfavorita' : 'otro atardecer',
'peliculafavorita' : 'interstellar',
'comidafavorita' : 'pollito qin',
'cumpleanios' : pd.Timestamp('20020426'),
'tienemascota' : True,
'numerohermanos' : 1,
'altura' : 1.80,
'eresforaneo' : False,
'ciudadnatal' : 'guadalajara',
'peliculafavoritastarwars' : 3


}, index=['pizarro'])

In [5]:
lst = [rododf, pizarrodf, mario_castaneda_df, vanedf, df_alfonso, FernandoOjeda, cerritenodf, ManuelOrozcodf, dfsidd, cristiandf]
alumnos_df = pd.concat(lst, ignore_index =True, axis=0)

In [6]:
alumnos_df

,nombre,apellidos,edad,carrera,generomusical,cancionfavorita,peliculafavorita,comidafavorita,cumpleanios,tienemascota,numerohermanos,altura,eresforaneo,ciudadnatal,peliculafavoritastarwars
0,Rodo,Bojorquez,25,ITC,Rock,Hold Me Like A Grudge,Superbad,Pizza,11 de noviembre,Sí,2,174.00,Si,"Hermosillo, Sonora",10.0
1,alejandro,pizarro chavez,21,ITC,indie,otro atardecer,interstellar,pollito qin,2002-04-26 00:00:00,True,1,1.80,False,guadalajara,3.0
2,mario,castaneda,21,iid,edm,touch,buscando a nemo,carne asada,2002-02-01 00:00:00,False,1,1.67,False,torreon,NaN
3,vanessa,mendez,21,itc,pop,august,montecarlo,hamburguesas,12abril2002,False,1,1.60,True,veracruz,NaN
4,alfonso,pineda,21,itc,pop,r&b,interestellar,comida italiana,2002-04-24 00:00:00,False,1,1.77,True,cdmx,3.0
5,Fernando,Ojeda,21,iid,nan,nan,nan,pizza,22/11,True,1,1.70,True,La Paz,3.0
6,fernando,cerriteno magana,20,irs,rock,test & recognize,na,enchiladas,2001-09-21 00:00:00,False,1,1.81,True,celaya,3.0
7,manuel,orozco yaniez,20,iid,breakcore,luna de diseño,everything everywhere all at once,hamburguesa,2002-12-23 00:00:00,True,3,1.83,True,leon,NaN
8,siddhartha,lopez,21,ITC,pop,annihilate,across the spiderverse,ramen,08ene02,True,6,1.74,True,obregon,3.0
9,Cristian,Cazares Molina,21,ITC,rock,Teeth,N/A,N/A,29-04,False,1,1.78,True,Culiacan,3.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')